.App {
    background: linear-gradient(45deg, #6b7e5f3b 0%, #1a4940e6 50%, #396c4972 100%);

    .custom-section {
        height: 80vh;
        width: 100%;

        .slide {
            position: relative;
            height: 80vh;
            width: 100%;
            display: flex;
            align-items: center;
            background-size: cover;
            gap: 20px;

            /* &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.25);
        } */
            .hero-img {
                pointer-events: none;
                position: absolute;
                right: 0;
                top: 0;

                img {
                    max-width: 100%;
                }

                @media screen and (max-width: 1080px) {
                    display: none;
                }
            }

            .text-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                margin-top: 100px;
                margin-left: 100px;

                .text-slide {
                    color: $white;

                    @media only screen and (max-width: 480px) {
                        width: 100%;
                    }

                    .slide-title {
                        background: linear-gradient(276.35deg, $darkgreen 23.24%, #06f 106.43%);
                        -webkit-text-fill-color: transparent;
                        border: 0;
                        -webkit-background-clip: text;

                        @media screen and (max-width: 992px) {
                            font-size: 40px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 30px;
                        }

                        span {
                            color: $darkgreen;
                        }
                    }

                    .register {
                        background-color: $pastel-green;
                        color: $darkgreen;
                        padding: 10px 20px 10px 20px;
                        cursor: pointer;
                        position: relative;
                        z-index: 1;

                        &:hover {
                            background-color: $white;
                            ;
                        }
                    }

                    .form-container {
                        margin: 20px 0px;

                        .form-field {
                            align-items: center;

                            .form-field-input {
                                width: 70%;
                            }
                        }
                    }
                }
            }

            .img-container {
                min-height: 80rem;
                position: relative;
                width: 70%;
                left: auto;
                right: 0;
                margin-top: 150px;

                @media screen and (max-width: 1080px) {
                    display: none;
                }

                .img-first-page {
                    opacity: 0.7;
                    border-radius: 5rem;
                    position: absolute;
                    width: 70%;
                    height: auto;
                    max-width: 500px;

                    &:first-child {
                        top: 25rem;
                        left: 12rem;
                    }

                    &:nth-child(2) {
                        filter: drop-shadow(-0.8rem -0.8rem 2.5rem rgba(0, 0, 0, .35));
                        left: 27rem;
                        top: 38rem;
                    }
                }

                .top-right-img {
                    border-radius: 5rem;
                    opacity: 0.7;
                    position: absolute;
                    height: auto;
                    width: 100%;
                    max-width: 700px;
                    right: 10rem;
                    top: 28rem;
                }

                .right-img {
                    position: absolute;
                    left: 10rem;
                    top: 20rem;
                    height: auto;
                    width: 100%;
                    max-width: 700px;
                }
                .last-img {
                    top: 25rem;
                    max-width: 600px;
                }
            }
        }

        .start-slide {
            justify-content: flex-start;
        }

        .center-slide {
            justify-content: center;
            text-align: center;
            margin: 0;

            .text-container {
                margin: 0;
            }
        }

        .end-slide {
            justify-content: flex-end;
            text-align: right;

            .text-container {
                margin-right: 100px;
            }
        }
    }
}
