.cart-modal{
    display:none;
    &-show{
        position:fixed;
        right:0;
        top:0;
        height:100%;
        background: $darkgreen;
        width: 20%;
        min-width:330px;
        z-index:1000;
        display:flex;
        flex-direction: column;
        padding:10px;
        .cart-modal-title{
            display:flex;
            justify-content: space-between;
            button{
                background: transparent;
                &:hover{
                    rotate: 180deg;
                }
            }
        }
        .cart-modal-content{
            display:flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            padding-top:70%;
            gap:5px;
            button{
                padding:15px;
                background-color: white;
                color:black;
            }
        }
    }
}