$darkestgreen: #1d2d2b;
$darkgreen: #239C82;
$dark-green-opacity: #239c82cc;
$mid-green: #7AE19C;
$light-green: #ACE986;
$pastel-green:#DBF0EC;
$white:#FFFFFF;
$black: #000000;
$grey: #515866;
$dark-grey: #333333;
$light-grey: #C8C8C8;
$dark-charcoal: #333;
$cyan-blue: #2A2D33;
$light-cyan: #515866;