.dropdown-cornice {
  animation: rotateMenu 800ms ease-in-out forwards;
  transform-origin: top center;
  box-sizing: border-box;
  margin: 8px 0px 0px;
  background-color: #fff;
  display: block;
  position: absolute;
  color: #000;
  min-width: 150px;
  z-index: 20;
  border-radius: 15px;
  .dropdown-window {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    .dropdown-element {
      box-sizing: border-box;
      padding: 8px;
      margin: 0px;
      font-size: 16px;
      font-weight: 600;
      color: black;
      cursor: pointer;
    }
    .navbar-dropdown-element {
      box-sizing: border-box;
      padding: 8px;
      margin: 0px;
      font-size: 16px;
      font-weight: 600;
      color: black;
      cursor: pointer;
      text-decoration: none;
      align-self: flex-start;
    }
  }
}

.navbar-dropdown {
  align-items: center;
  color: $black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  .dropdown-icon {
    margin-left: 5px;
    margin-top: 3px;
    color: $darkgreen;
  }
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
