.css-1xifris {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $white;
  display: flex;
  .all-container {
    max-width: 1272px;
    padding-top: 153px;
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: column;
    display: flex;
    -webkit-box-flex: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .page-container {
      flex-direction: column;
      box-sizing: border-box;
      margin: 0px 0px 24px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      .section-container {
        box-sizing: border-box;
        margin: 0px 0px 24px;
        flex-direction: row;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        .information-container {
          width: 40%;
          min-width: 342px;
          box-sizing: border-box;
          margin: 0px;
          flex-direction: column;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          .image-container {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .details-container {
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            height: fit-content;
            justify-content: center;
            line-height: 22px;
            margin-top: 24px;
            width: 100%;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            font-size: 16px;
            padding: 32px 24px;
            .text-container {
              box-sizing: border-box;
              margin: 0px;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              justify-content: space-between;
              width: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              color: $black;
              a {
                text-decoration: none;
                color: $black;
              }
            }
            .show-container {
              height: auto;
              overflow: unset;
              animation: growDown 500ms ease-in-out forwards;
              transform-origin: top center;
              .grid-container {
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                margin-top: 16px;
                .section-container {
                  background: $dark-green-opacity;
                  border: 1px solid $darkgreen;
                  border-radius: 4px;
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 12px;
                  text-align: center;
                  width: auto;
                  .title-section {
                    margin-bottom: 4px;
                    font-style: normal;
                    letter-spacing: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: $dark-charcoal;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14px;
                    text-transform: uppercase;
                  }
                  .description-section {
                    margin-bottom: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    font-style: normal;
                    letter-spacing: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: $darkestgreen;
                  }
                  .sub-title-section {
                    word-wrap: break-word;
                    color: $darkestgreen;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
