.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .form-field-input {
    display: flex;
    width: 30%;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      
      border-radius: 4px;
    }

    button[type="submit"] {
      padding: 10px;
      border: 1px solid #ccc;
     
      border-radius: 4px;
      background: $darkgreen;
      cursor: pointer;
      font-size: 18px; 
      color: white; 
    }
  }

  .form-error {
    display: flex;
    justify-content: flex-start;
    width: 30%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form-field-input {
  flex-direction: column;
  align-items: stretch;
  
  input[type="text"],
  button[type="submit"] {
    width: 100%;
    
  }
  
  }
  }
.input-with-icon-container {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  border-radius: 50px;
  border: 1px solid $pastel-green;
  height: 38px;
  background: $darkgreen;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 354px;
  color: $white;

  &:hover {
    opacity: 0.7;
  }

  &:focus-within {
    background: $white;
    border: 1px solid $darkgreen;
    color: $darkgreen;

    &::placeholder {
      color: $black;
    }
  }

  .input-icon-container {
    display: flex;
    flex: 0 0 auto;
    border-radius: 50px 0px 0px 50px;
    background: transparent;
    border: none;
    width: unset;
    height: unset;
    padding: 0px 8px 0px 12px;
    align-items: center;
  }

  .input-container {
    display: flex;
    position: relative;
    width: 100%;

    .input-search {
      border-radius: 0px 50px 50px 0px;
      border: none;
      padding-left: 0px;
      outline: none;
      background: transparent;
      color: $white;
      width: 100%;

      &::placeholder {
        color: $white;
      }

      &:focus {
        color: $black;

        &::placeholder {
          color: $black;
        }
      }
    }
  }
}

.dropdown-menu-container {
  position: relative;
  width: 100%;

  .dropdown-menu {
    box-sizing: border-box;
    margin: 0px;
    position: absolute;
    border: 1px solid rgb(234, 238, 244);
    height: auto;
    top: 2px;
    right: 2px;
    background-color: $pastel-green;
    overflow: hidden auto;
    border-radius: 8px;

    img {
      border-radius: 22px;
      object-fit: cover;
      margin: 0px 4px 0px 0px;
      border-style: none;
      width: 44px;
      aspect-ratio: auto 44 / 44;
      height: 44px;
    }
  }
}
