.navbar{
    display:flex;
    flex-wrap: nowrap;
    background: radial-gradient(circle, #239c82 1%, $darkestgreen 56%, $darkestgreen 100%);
    height: 100%;
    max-height:100px;
    width: 100%;
    max-height: 100px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index:1000;
    align-items: center;
    padding: 20px 30px 20px 30px;
    z-index: 999;
    .navbar-hamburger{
        display:none;
        @media (max-width: 1320px){
            display:block;
        }
    }
    .navbar-responsive{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:50px;
    }
    .navbar-brand{
        display:flex;
        align-items: center;
        gap:30px;
        
    }
    .navbar-links{
        display:flex;
        align-items: center;
        gap: 20px;
        color:$white;
        @media (max-width: 1320px){
            display:none;
        }
        a{
            color: $white;
            text-decoration: none;
        }
        .register{
            background-color:$pastel-green;
            color:$darkgreen;
            padding:10px 20px 10px 20px;
        }
    }
}