body {
  background-color: $white;
}
.css-1xifris {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  .all-container {
    max-width: 1272px;
    padding-top: 153px;
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: column;
    display: flex;
    -webkit-box-flex: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .page-container {
      flex-direction: column;
      box-sizing: border-box;
      margin: 0px 0px 24px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      .section-container {
        box-sizing: border-box;
        margin: 0px 0px 24px;
        flex-direction: row;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        .information-container {
          width: 40%;
          min-width: 342px;
          box-sizing: border-box;
          margin: 0px;
          flex-direction: column;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          .image-container {
            box-sizing: border-box;
            margin: -10px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .details-container {
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            height: fit-content;
            justify-content: center;
            line-height: 22px;
            margin-top: 24px;
            width: 100%;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            font-size: 16px;
            padding: 32px 24px;
            .text-container {
              box-sizing: border-box;
              margin: 0px;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              justify-content: space-between;
              width: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              a {
                text-decoration: none;
                color: $black;
              }
            }
            .show-container {
              height: auto;
              overflow: unset;
              animation: growDown 500ms ease-in-out forwards;
              transform-origin: top center;
              .grid-container {
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                margin-top: 16px;
                .section-container {
                  background: $white;
                  border: 1px solid $darkgreen;
                  border-radius: 4px;
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 12px;
                  text-align: center;
                  width: auto;
                  .title-section {
                    margin-bottom: 4px;
                    font-style: normal;
                    letter-spacing: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: $darkgreen;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14px;
                    text-transform: uppercase;
                  }
                  .description-section {
                    margin-bottom: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    font-style: normal;
                    letter-spacing: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                  .sub-title-section {
                    word-wrap: break-word;
                    color: $darkgreen;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 14px;
                  }
                }
              }
            }
          }
        }
        .statistic-container {
          width: 60%;
          margin-left: 48px;
          box-sizing: border-box;
          flex-direction: column;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          .top-statistic-container {
            box-sizing: border-box;
            margin: 0px;
            flex-direction: column;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            .icon-container {
              box-sizing: border-box;
              margin: 16px 0px 0px;
              flex-direction: column;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .back-container {
                box-sizing: border-box;
                margin: 0px 0px 24px;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-nrqnxi {
                  box-sizing: border-box;
                  margin: 0px;
                  -webkit-box-align: center;
                  align-items: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .back-section {
                    box-sizing: border-box;
                    margin: 0px 8px 0px 0px;
                    font-size: 24px;
                    display: inline-flex;
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: $darkgreen;
                  }
                  .back-section-text {
                    box-sizing: border-box;
                    margin: 0px;
                    line-height: 1.3em;
                    color: $darkgreen;
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: 18px;
                    font-weight: normal;
                  }
                }
              }
              .css-8g204a {
                box-sizing: border-box;
                margin: 0px 0px 24px;
                flex-direction: row;
                -webkit-box-pack: justify;
                justify-content: space-between;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-nrqnxi {
                  box-sizing: border-box;
                  margin: 0px;
                  -webkit-box-align: center;
                  align-items: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-nrqnxi {
                    box-sizing: border-box;
                    margin: 0px;
                    -webkit-box-align: center;
                    align-items: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    .css-g9ogwi {
                      padding: 0px;
                      background: transparent;
                      width: 24px;
                      height: 23px;
                      .bsHeart {
                        width: 24px !important;
                        height: 23px;
                        color: $darkgreen;
                      }
                    }
                    .css-1nhwfv9 {
                      box-sizing: border-box;
                      margin: 0px 0px 0px 8px;
                      background-repeat: no-repeat;
                      background-size: cover;
                    }
                  }
                  .css-2fead {
                    box-sizing: border-box;
                    margin: 0px 16px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    .css-1nhwfv9 {
                      box-sizing: border-box;
                      margin: 0px 0px 0px 8px;
                      background-repeat: no-repeat;
                      background-size: cover;
                    }
                  }
                  .css-84wpv7 {
                    box-sizing: border-box;
                    margin: 0px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .css-14bjdul {
                      box-sizing: border-box;
                      margin: 0px;
                      width: 100%;
                      background-repeat: no-repeat;
                      background-size: cover;
                      display: flex;
                      .css-95mwbsu {
                        width: 100%;
                        display: flex;
                        .css-1jmocn {
                          box-sizing: border-box;
                          margin: 0px;
                          display: inline-block;
                          position: relative;
                          background-repeat: no-repeat;
                          background-size: cover;
                          .css-84wp7 {
                            box-sizing: border-box;
                            margin: 0px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            cursor: pointer;
                            .css-nrqnxi {
                              box-sizing: border-box;
                              margin: 0px;
                              -webkit-box-align: center;
                              align-items: center;
                              background-repeat: no-repeat;
                              background-size: cover;
                              display: flex;
                              color: $darkgreen;
                            }
                          }
                          .css-sgtua3 {
                            animation: rotateMenu 800ms ease-in-out forwards;
                            transform-origin: top center;
                            box-sizing: border-box;
                            margin: 8px 0px 0px;
                            padding: 16px;
                            display: block;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: absolute;
                            background-color: $white;
                            color: $black;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 40px;
                            z-index: 20;
                            border-radius: 15px;
                            white-space: nowrap;
                            overflow: hidden;
                            min-width: 135px;
                            .css-19fff7r {
                              box-sizing: border-box;
                              margin: 0px;
                              flex-direction: column;
                              align-items: flex-start;
                              background-repeat: no-repeat;
                              background-size: cover;
                              display: flex;
                              a {
                                text-decoration: none;
                                margin-bottom: 8px;
                                color: $black;
                              }
                              .text-small {
                                font-size: 14px;
                                font-weight: normal;
                                color: $black;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .css-fb99im {
                  box-sizing: border-box;
                  margin: 0px 0px 0px auto;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-14bjdul {
                    box-sizing: border-box;
                    margin: 0px;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    .css-95mwbsu {
                      width: 100%;
                      display: flex;
                      .css-84wpv7 {
                        box-sizing: border-box;
                        margin: 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        cursor: pointer;
                      }
                      .css-sgtua3 {
                        animation: rotateMenu 800ms ease-in-out forwards;
                        transform-origin: top center;
                        box-sizing: border-box;
                        margin: 8px 0px 0px;
                        padding: 16px;
                        display: block;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        background-color: rgb(255, 255, 255);
                        color: black;
                        min-width: 135px;
                        z-index: 20;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 40px;
                        border-radius: 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        .css-19fff7r {
                          box-sizing: border-box;
                          margin: 0px;
                          flex-direction: column;
                          align-items: flex-start;
                          background-repeat: no-repeat;
                          background-size: cover;
                          display: flex;
                          button {
                            text-decoration: none;
                            padding: 0px;
                            margin-bottom: 8px;
                            background: transparent;
                            color: $black;
                          }
                          .text-small {
                            font-size: 14px;
                            font-weight: normal;
                            color: $black;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .css-1j9aoqx {
              box-sizing: border-box;
              margin: 0px 0px 24px;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .css-84wpv7 {
                box-sizing: border-box;
                margin: 0px;
                background-repeat: no-repeat;
                background-size: cover;
                .css-18oip3 {
                  box-sizing: border-box;
                  margin: 0px 8px 0px 0px;
                  line-height: 1.3em;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              }
              .css-84wpv7 {
                box-sizing: border-box;
                margin: 0px;
                background-repeat: no-repeat;
                background-size: cover;
                .css-11r4quq {
                  box-sizing: border-box;
                  margin: 0px 8px 0px 0px;
                  line-height: 1.3em;
                  background-repeat: no-repeat;
                  background-size: cover;
                  font-size: 16px;
                  font-weight: bold;
                }
              }
              .center-icon {
                align-self: center;
              }
            }
            .nft-summary-collection-container {
              display: flex;
              flex-direction: row;
              .css-1m1tg02 {
                box-sizing: border-box;
                margin: 0px 0px 16px;
                flex: 1 1 0%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .user-profile {
                  flex: 1 1;
                  align-items: center;
                  display: flex;
                  flex-direction: row;
                  .rounded-image {
                    color: $black;
                    cursor: pointer;
                    .css-wpyvqd {
                      box-sizing: border-box;
                      margin: 0px;
                      padding-right: 8px;
                      height: 40px;
                      position: relative;
                      background-repeat: no-repeat;
                      background-size: cover;
                      .css-12pdu1u {
                        box-sizing: border-box;
                        .css-ze1kp1 {
                          box-sizing: border-box;
                          margin: 0px;
                          width: 40px;
                          height: 40px;
                          background-repeat: no-repeat;
                          background-size: cover;
                          border-radius: 50%;
                          object-fit: cover;
                          text-indent: -10000px;
                        }
                      }
                      .css-1fe9f2b {
                        box-sizing: border-box;
                        margin: 0px;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        .verified-icon {
                          color: $darkgreen;
                          border-radius: 50%;
                        }
                      }
                    }
                  }
                  .user-info-container {
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: normal;
                    word-break: break-all;
                    margin-left: 8px;
                    .user-info-title {
                      color: #626973;
                      display: flex;
                      font-size: 14px;
                      justify-content: flex-start;
                      line-height: 21px;
                    }
                    .name-user {
                      display: flex;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      display: -webkit-box;
                      overflow: hidden;
                      white-space: normal;
                      word-break: break-all;
                      .name-user-link {
                        color: #000;
                        cursor: pointer;
                        text-decoration: none;
                        .name-user-span {
                          font-weight: 400;
                        }
                      }
                    }
                  }
                }
              }
              .css-117j5e {
                box-sizing: border-box;
                margin: 0px;
                flex: 1 1 0%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-17kuy89 {
                  box-sizing: border-box;
                  margin: 0px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-148glow {
                    box-sizing: border-box;
                    margin: 0px 8px 0px 0px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    .collection-detail-container {
                      color: $black;
                      cursor: pointer;
                      .css-wpyvqd {
                        box-sizing: border-box;
                        margin: 0px;
                        padding-right: 8px;
                        height: 40px;
                        position: relative;
                        background-repeat: no-repeat;
                        background-size: cover;
                        .css-12pdu1u {
                          box-sizing: border-box;
                          .css-ze1kp1 {
                            box-sizing: border-box;
                            margin: 0px;
                            width: 40px;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 50%;
                            object-fit: cover;
                            text-indent: -10000px;
                          }
                        }
                        .css-1fe9f2b {
                          box-sizing: border-box;
                          margin: 0px;
                          position: absolute;
                          right: 0px;
                          bottom: 0px;
                          background-repeat: no-repeat;
                          background-size: cover;
                          display: flex;
                          .verified-icon {
                            color: $darkgreen;
                            border-radius: 50%;
                          }
                        }
                      }
                    }
                    .user-info-container {
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      display: -webkit-box;
                      overflow: hidden;
                      white-space: normal;
                      word-break: break-all;
                      margin-left: 8px;
                      .user-info-title {
                        color: #626973;
                        display: flex;
                        font-size: 14px;
                        justify-content: flex-start;
                        line-height: 21px;
                      }
                      .name-user {
                        display: flex;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;
                        white-space: normal;
                        word-break: break-all;
                        .name-user-link {
                          color: #000;
                          cursor: pointer;
                          text-decoration: none;
                          .name-user-span {
                            font-weight: 400;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .css-xmzy0r {
              margin-top: 8px;
              box-sizing: border-box;
              margin: 24px 0px 0px;
              background-repeat: no-repeat;
              background-size: cover;
              .css-v0b2st {
                box-sizing: border-box;
                margin: 0px;
                height: 22px;
                width: 100%;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .button-ratio {
                  align-items: center;
                  background: $white;
                  border: 1px solid $darkgreen;
                  border-radius: 8px;
                  color: $darkgreen;
                  font-size: 12px;
                  font-weight: 500;
                  display: flex;
                  gap: 4px;
                  justify-content: center;
                  line-height: 14px;
                  padding: 6px 8px;
                  white-space: nowrap;
                  .css-dhk0gj {
                    box-sizing: border-box;
                    margin: 0px;
                    font-size: 24px;
                    display: inline-flex;
                    background-repeat: no-repeat;
                    background-size: cover;
                    align-items: center;
                  }
                }
              }
            }
            .css-1xkdge7 {
              box-sizing: border-box;
              margin: 24px 0px 8px;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              align-items: center;
              .nft-summary {
                color: $black;
                font-size: 29px;
                font-weight: 700;
                margin-right: 8px;
                overflow-wrap: anywhere;
              }
              .css-9h7yvd {
                margin: 0px;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex: 0 0 auto;
                text-align: center;
                border: 1px solid $darkgreen;
                box-sizing: border-box;
                border-radius: 30px;
                min-width: 45px;
                padding: 6px 8px;
                height: fit-content;
                .css-1cufir3 {
                  box-sizing: border-box;
                  margin: 0px;
                  line-height: 1.3em;
                  color: $darkgreen;
                  width: 100%;
                  background-repeat: no-repeat;
                  background-size: cover;
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }
            .css-j9au5h {
              box-sizing: border-box;
              margin: 0px;
              -webkit-box-pack: justify;
              justify-content: space-between;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .css-17kuy89 {
                box-sizing: border-box;
                margin: 0px;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-14xuj6k {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  .css-1otewz {
                    .css-15o39v9 {
                      box-sizing: border-box;
                      margin: 0px;
                      line-height: 1.3em;
                      color: $black;
                      background-repeat: no-repeat;
                      background-size: cover;
                      font-size: 16px;
                      font-weight: normal;
                    }
                  }
                  .css-1otewz {
                    .css-4z733i {
                      box-sizing: border-box;
                      margin: 0px;
                      line-height: 1.3em;
                      color: $black;
                      background-repeat: no-repeat;
                      background-size: cover;
                      font-size: 29px;
                      font-weight: 600;
                    }
                  }
                }
              }
              .price-allert {
                background: 0 0;
                border: 0;
                cursor: pointer;
                height: 28px;
                padding: 0;
              }
            }
            .css-et2jx0 {
              box-sizing: border-box;
              margin: 0px;
              flex-direction: column;
              width: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .nft-detail-container {
                font-size: 16px;
                line-height: 22px;
                .css-1ropvg2 p {
                  overflow-wrap: anywhere;
                  white-space: pre-wrap;
                  display: block;
                  margin-block-start: 1em;
                  margin-block-end: 1em;
                  margin-inline-start: 0px;
                  margin-inline-end: 0px;
                }
              }
              .nft-detail-container-tags {
                display: flex;
                margin: 16px 0;
                overflow: auto;
                .single-tag-detail {
                  padding-right: 10px;
                  .single-tag {
                    border: 1px solid $darkgreen;
                    border-radius: 4px;
                    color: $darkgreen;
                    padding: 10px 5px;
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
          .css-znm2i9 {
            box-sizing: border-box;
            margin: 16px 0px 0px;
            background-repeat: no-repeat;
            background-size: cover;
            .css-1xm42rb {
              flex-direction: row;
              align-items: flex-start;
              box-sizing: border-box;
              margin: 0px;
              -webkit-box-align: unset;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .tabs-tabs {
                align-items: center;
                display: flex;
                flex-direction: row;
                overflow: auto;
                margin-bottom: 32px;
                .nft-details-tab {
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 22px;
                  background-image: linear-gradient(
                    90deg,
                    $darkgreen,
                    $mid-green
                  );
                  background-position: 0 100%;
                  background-repeat: no-repeat;
                  background-size: 100% 3px;
                  margin-right: 46px;
                  align-items: center;
                  color: #000;
                  cursor: pointer;
                  display: flex;
                  flex-direction: row;
                  height: 100%;
                  justify-content: center;
                  padding-bottom: 16px;
                  .css-15clvx7 {
                    box-sizing: border-box;
                    margin: 0px;
                    line-height: 1.3em;
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: 16px;
                    font-weight: 600;
                  }
                }
              }
            }
            .owner-list {
              display: flex;
              flex-direction: column;
              padding-bottom: 8px;
              margin-bottom: 10px;
              border-bottom: 1px solid rgb(227, 227, 227);
              .owner-tab-container {
                display: grid;
                grid-template-columns: 70% 30%;
                width: 100%;
                .user-profile-container {
                  width: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: row;
                  .user-profile-link {
                    color: #000;
                    cursor: pointer;
                    text-decoration: none;
                    background-color: transparent;
                    .css-wpyvqd {
                      box-sizing: border-box;
                      margin: 0px;
                      padding-right: 8px;
                      height: 40px;
                      position: relative;
                      background-repeat: no-repeat;
                      background-size: cover;
                      .css-12pdu1u {
                        box-sizing: border-box;
                        margin: 0px;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        background-color: rgb(255, 255, 255);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 40px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        .owner-image {
                          box-sizing: border-box;
                          margin: 0px;
                          width: 40px;
                          height: 40px;
                          background-repeat: no-repeat;
                          background-size: cover;
                          border-radius: 50%;
                          object-fit: cover;
                          text-indent: -10000px;
                        }
                      }
                    }
                  }
                  .user-profile {
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: normal;
                    word-break: break-all;
                    margin-left: 8px;
                    .user-profile-title {
                      color: #626973;
                      display: flex;
                      font-size: 14px;
                      justify-content: flex-start;
                      line-height: 21px;
                      white-space: normal;
                      word-break: break-all;
                    }
                    .wallet-container {
                      display: flex;
                      .user-name-container {
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;
                        white-space: normal;
                        word-break: break-all;
                        .user-profile-link {
                          color: #000;
                          cursor: pointer;
                          text-decoration: none;
                          .user-profile-name {
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            overflow: hidden;
                            white-space: normal;
                            word-break: break-all;
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                            text-overflow: ellipsis;
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }
                }
                .css-1tfcze1 {
                  box-sizing: border-box;
                  margin: 0px;
                  flex-direction: row;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  flex: 0 0 30%;
                  overflow: hidden;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-1wiov8 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    box-sizing: border-box;
                    margin: 0px 8px 0px 0px;
                    line-height: 1.3em;
                    color: rgb(98, 105, 115);
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: 16px;
                    font-weight: normal;
                  }
                  .css-84wpv7 {
                    box-sizing: border-box;
                    margin: 0px;
                    background-repeat: no-repeat;
                    background-size: cover;
                  }
                  a {
                    text-decoration: none;
                    color: $black;
                    margin-left: 70px;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
      }
      .buy-Edition-container {
        box-sizing: border-box;
        margin: 0px;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-between;
        padding: 16px;
        bottom: 24px;
        background: $white;
        border: 1px solid $mid-green;
        border-radius: 4px;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        column-gap: 32px;
        display: flex;
        position: static;
        width: 100%;
        .asset-container {
          box-sizing: border-box;
          margin: 0px;
          -webkit-box-pack: start;
          justify-content: flex-start;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          max-width: calc(100% - 250px);
          width: 100%;
          .asset-image {
            box-sizing: border-box;
            margin: 0px;
            min-width: 70px;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            background-position: 50%;
            height: 70px;
            overflow: hidden;
            width: 70px;
          }
          .asset-information {
            box-sizing: border-box;
            margin: 0px;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            overflow: hidden;
            padding-left: 16px;
            text-overflow: ellipsis;
            .css-10a3ax5 {
              box-sizing: border-box;
              margin: 0px;
              -webkit-box-align: unset;
              align-items: unset;
              height: auto;
              min-height: 25%;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              font-size: 29px;
              font-style: normal;
              font-weight: 700;
              letter-spacing: 0;
              line-height: 35px;
              text-align: left;
              .css-ligk6yf {
                box-sizing: border-box;
                margin: 0px;
                line-height: 1.3em;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .css-41sbbu {
          align-items: flex-end;
          box-sizing: border-box;
          margin: 0px;
          -webkit-box-align: center;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          .css-kkow03 {
            width: auto;
            box-sizing: border-box;
            margin: 0px;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            .css-1dr203x {
              column-gap: 8px;
              -webkit-box-pack: end;
              justify-content: flex-end;
              box-sizing: border-box;
              margin: 0px;
              -webkit-box-align: center;
              align-items: center;
              flex-direction: row;
              -webkit-box-pack: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .css-dgr9ig {
                box-sizing: border-box;
                margin: 0px;
                width: 100%;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                .css-178q20 {
                  box-sizing: border-box;
                  margin: 0px;
                  -webkit-box-pack: center;
                  justify-content: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  align-items: flex-end;
                  width: fit-content;
                  flex-direction: column;
                  .css-aeet0h {
                    box-sizing: border-box;
                    margin: 0px;
                    padding: 0px 24px;
                    outline: 0px;
                    cursor: pointer;
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.3em;
                    text-decoration: none;
                    background: white;
                    border: 1px solid $darkgreen;
                    color: $black;
                    border-radius: 4px;
                    height: 48px;
                    min-width: 128px;
                    width: 180px;
                    min-height: 48px;
                    text-align: center;
                    letter-spacing: 0;
                  }
                }
              }
              .css-178q20 {
                box-sizing: border-box;
                margin: 0px;
                -webkit-box-pack: center;
                justify-content: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                width: fit-content;
                flex-direction: column;
                .css-v5o7gi {
                  box-sizing: border-box;
                  margin: 0px;
                  padding: 0px 24px;
                  outline: 0px;
                  cursor: pointer;
                  display: inline-flex;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  justify-content: center;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 1.3em;
                  text-decoration: none;
                  background: linear-gradient(
                    90deg,
                    rgb(2, 143, 9) 0%,
                    rgb(2, 219, 74) 100%
                  );
                  border: 1px solid rgb(58, 172, 6);
                  color: rgb(255, 255, 255);
                  border-radius: 4px;
                  height: 48px;
                  min-width: 128px;
                  width: 180px;
                  min-height: 48px;
                  text-align: center;
                  letter-spacing: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes growDown {
  0% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
