.container {
  background-color: #68aefd;
}
.title {
  text-align: center;
}
.palette-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  .rgb-code {
    text-align: center;
    margin: 3px;
  }
  .rgb-name {
    text-align: center;
    margin: 0px;
  }
  .square {
    border-radius: 7px;
    height: 45px;
    width: 45px;
    margin: 10px;
  }
  .dark-green {
    background-color: $darkgreen;
  }
  .mid-green {
    background-color: $mid-green;
  }
  .light-green {
    background-color: $light-green;
  }
  .pastel-green {
    background-color: $pastel-green;
  }
  .white {
    background-color: $white;
  }
  .black {
    background-color: $black;
  }
}
.single-color-container {
  display: flex;
  flex-direction: column;
}
