
.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
background: radial-gradient(circle, #239c82 4%, #1d2d2b 56%, #000000 100%);
}


form {
  background-color: $cyan-blue;
  border-radius: 15px;
  padding: 50px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  right: calc((100% - 500px) / 2 - 300px);
  
}


h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}
.form-group {
  margin-bottom: 25px;
  color: $grey;
}
label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.form-control {
  background-color: $light-cyan;
  border: none;
  border-radius: 6px;
  color: $dark-grey;
  font-size: 16px;
  padding: 16px;
  width: 100%;
}
.password-input-container {
  position: relative;
}
.password-eye-icon {
  color: $light-grey;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    color: $dark-grey;
  }
}
.btn-primary {
  background-color: $darkgreen;
  border: none;
  border-radius: 6px;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  width: 100%;
  &:hover {
    background-color: $dark-green-opacity;
  }
  &:active {
    background-color: $dark-green-opacity;
  }
}
.select-language-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}
.hide-navbar {
  align-self: flex-start;
  margin-left: 310px;
  padding-bottom: 20px;
  a {
    text-decoration: none;
    color: $white;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $white;
    margin-right: 5px;
  }
}
.footer-links {
	position: absolute;
	bottom: 100px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15%;
  a {
    margin-right: 20px;
    margin-top: 25px;
    color: $white;
    font-size: 14px;
    text-decoration: none;
  }
}
.forget {
  color: $grey;
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  width: 180px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  padding: 3px;
  border-bottom: 1px solid #515866;
  cursor: pointer;
}
.title-login {
  color: $white;
  font-size: 25px;
}
.subtitle-login {
  padding-bottom: 10px;
  color: $white;
  font-size: 15px;
}
.right-section {
  color: $pastel-green;
  padding: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #1d2d2b,
    #214741,
    #226257,
    #227e6d,
    #239c82
  );
  overflow: hidden;
}

.right-section .lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 600px;
}

.right-section .line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 75%,
      #ffffff 100%
    );
    animation: drop 5s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

  &:nth-child(1) {
    margin-left: -25%;

    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(3) {
    margin-left: 25%;

    &::after {
      animation-delay: 2.5s;
    }
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}


.title-right {
  text-shadow: rgba(10,206,150,1) 0px 0px 120px;
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}

.subtitle-right {
  line-height: 1.5;
  font-size: 20px;
}
.text-right {
  color: $white;
  margin-left: 20px;
}
.next {
  color: $white;
  padding-top: 10px;
  a {
    color: $darkgreen;
    text-decoration: none;
  }
}

.password-error {
  color: red;
  margin-bottom: 15px;
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .logo {
  max-width: 100px;
  max-height: 50px;
}
  .login-container {
    display: flex;
    flex-direction: column-reverse;

  }
  form {
    padding: 20px 40px;
    margin-left: -50px;
    margin-top:90px;
  }
  .hide-navbar {
    position: absolute;
    margin-top:50px;
    margin-left:100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1
  }
  .right-section {
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    padding: 50px;
    margin-top: 50px;

  }
  .text-right{
    margin-left:0;
  }
}