.css-1xifris {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  .all-container {
    max-width: 1272px;
    padding-top: 153px;
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: column;
    display: flex;
    -webkit-box-flex: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .page-container {
      flex-direction: column;
      box-sizing: border-box;
      margin: 0px 0px 24px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      .section-container {
        box-sizing: border-box;
        margin: 0px 0px 24px;
        flex-direction: row;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        .statistic-container {
          width: 60%;
          margin-left: 48px;
          box-sizing: border-box;
          flex-direction: column;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          .top-statistic-container {
            box-sizing: border-box;
            margin: 0px;
            flex-direction: column;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            .icon-container {
              box-sizing: border-box;
              margin: 16px 0px 0px;
              flex-direction: column;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .back-container {
                box-sizing: border-box;
                margin: 0px 0px 24px;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-nrqnxi {
                  box-sizing: border-box;
                  margin: 0px;
                  -webkit-box-align: center;
                  align-items: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  cursor: pointer;
                  .back-section {
                    box-sizing: border-box;
                    margin: 0px 8px 0px 0px;
                    font-size: 24px;
                    display: inline-flex;
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: $white;
                  }
                  .back-section-text {
                    box-sizing: border-box;
                    margin: 0px;
                    line-height: 1.3em;
                    color: $white;
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: 18px;
                    font-weight: normal;
                  }
                }
              }
              .css-8g204a {
                box-sizing: border-box;
                margin: 0px 0px 24px;
                flex-direction: row;
                -webkit-box-pack: justify;
                justify-content: space-between;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-nrqnxi {
                  box-sizing: border-box;
                  margin: 0px;
                  -webkit-box-align: center;
                  align-items: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-nrqnxi {
                    box-sizing: border-box;
                    margin: 0px;
                    -webkit-box-align: center;
                    align-items: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    .css-g9ogwi {
                      padding: 0px;
                      background: transparent;
                      width: 24px;
                      height: 23px;
                      .bsHeart {
                        width: 24px !important;
                        height: 23px;
                        color: $white;
                      }
                    }
                    .css-1nhwfv9 {
                      box-sizing: border-box;
                      margin: 0px 0px 0px 8px;
                      background-repeat: no-repeat;
                      background-size: cover;
                      color: $light-grey;
                    }
                  }
                  .css-2fead {
                    box-sizing: border-box;
                    margin: 0px 16px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    .css-1nhwfv9 {
                      box-sizing: border-box;
                      margin: 0px 0px 0px 8px;
                      background-repeat: no-repeat;
                      background-size: cover;
                      color: $light-grey;
                    }
                  }
                  .css-84wpv7 {
                    box-sizing: border-box;
                    margin: 0px;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .css-14bjdul {
                      box-sizing: border-box;
                      margin: 0px;
                      width: 100%;
                      background-repeat: no-repeat;
                      background-size: cover;
                      display: flex;
                      .css-95mwbsu {
                        width: 100%;
                        display: flex;
                        .css-1jmocn {
                          box-sizing: border-box;
                          margin: 0px;
                          display: inline-block;
                          position: relative;
                          background-repeat: no-repeat;
                          background-size: cover;
                          .css-84wp7 {
                            box-sizing: border-box;
                            margin: 0px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            cursor: pointer;
                            .css-nrqnxi {
                              box-sizing: border-box;
                              margin: 0px;
                              -webkit-box-align: center;
                              align-items: center;
                              background-repeat: no-repeat;
                              background-size: cover;
                              display: flex;
                              color: $darkgreen;
                            }
                          }
                          .css-sgtua3 {
                            animation: rotateMenu 800ms ease-in-out forwards;
                            transform-origin: top center;
                            box-sizing: border-box;
                            margin: 8px 0px 0px;
                            padding: 16px;
                            display: block;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: absolute;
                            background-color: $white;
                            color: $black;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 40px;
                            z-index: 20;
                            border-radius: 15px;
                            white-space: nowrap;
                            overflow: hidden;
                            min-width: 135px;
                            .css-19fff7r {
                              box-sizing: border-box;
                              margin: 0px;
                              flex-direction: column;
                              align-items: flex-start;
                              background-repeat: no-repeat;
                              background-size: cover;
                              display: flex;
                              .css-20ggg8s {
                                text-decoration: none;
                                margin-bottom: 8px;
                                font-size: 14px;
                                font-weight: normal;
                                color: $black;
                                span {
                                  margin-left: 8px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .css-fb99im {
                  box-sizing: border-box;
                  margin: 0px 0px 0px auto;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-14bjdul {
                    box-sizing: border-box;
                    margin: 0px;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    .css-95mwbsu {
                      width: 100%;
                      display: flex;
                      .css-84wpv7 {
                        box-sizing: border-box;
                        margin: 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        color: $white;
                        cursor: pointer;
                      }
                      .css-sgtua3 {
                        animation: rotateMenu 800ms ease-in-out forwards;
                        transform-origin: top center;
                        box-sizing: border-box;
                        margin: 8px 0px 0px;
                        padding: 16px;
                        display: block;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        background-color: rgb(255, 255, 255);
                        color: black;
                        min-width: 135px;
                        z-index: 20;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 40px;
                        border-radius: 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        .css-19fff7r {
                          box-sizing: border-box;
                          margin: 0px;
                          flex-direction: column;
                          align-items: flex-start;
                          background-repeat: no-repeat;
                          background-size: cover;
                          display: flex;
                          button {
                            text-decoration: none;
                            padding: 0px;
                            margin-bottom: 8px;
                            background: transparent;
                            color: $black;
                          }
                          span {
                            margin-left: 8px;
                          }
                          .text-small {
                            font-size: 14px;
                            font-weight: normal;
                            color: $black;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .css-1j9aoqx {
              box-sizing: border-box;
              margin: 0px 0px 24px;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              .css-84wpv7 {
                box-sizing: border-box;
                margin: 0px;
                background-repeat: no-repeat;
                background-size: cover;
                .css-18oip3 {
                  box-sizing: border-box;
                  margin: 0px 8px 0px 0px;
                  line-height: 1.3em;
                  background-repeat: no-repeat;
                  background-size: cover;
                  color: $white;
                }
              }
              .css-84wpv7 {
                box-sizing: border-box;
                margin: 0px;
                background-repeat: no-repeat;
                background-size: cover;
                color: $white;
                .css-11r4quq {
                  box-sizing: border-box;
                  margin: 0px 8px 0px 0px;
                  line-height: 1.3em;
                  background-repeat: no-repeat;
                  background-size: cover;
                  font-size: 16px;
                  color: $white;
                  font-weight: bold;
                }
              }
              .center-icon {
                align-self: center;
              }
            }
            .nft-summary-collection-container {
              display: flex;
              flex-direction: row;
              .css-1m1tg02 {
                box-sizing: border-box;
                margin: 0px 0px 16px;
                flex: 1 1 0%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .user-profile {
                  flex: 1 1;
                  align-items: center;
                  display: flex;
                  flex-direction: row;
                  .rounded-image {
                    color: $black;
                    cursor: pointer;
                    .css-wpyvqd {
                      box-sizing: border-box;
                      margin: 0px;
                      padding-right: 8px;
                      height: 40px;
                      position: relative;
                      background-repeat: no-repeat;
                      background-size: cover;
                      .css-12pdu1u {
                        box-sizing: border-box;
                        .css-ze1kp1 {
                          box-sizing: border-box;
                          margin: 0px;
                          width: 40px;
                          height: 40px;
                          background-repeat: no-repeat;
                          background-size: cover;
                          border-radius: 50%;
                          object-fit: cover;
                          text-indent: -10000px;
                        }
                      }
                      .css-1fe9f2b {
                        box-sizing: border-box;
                        margin: 0px;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        .verified-icon {
                          color: $darkgreen;
                          border-radius: 50%;
                        }
                      }
                    }
                  }
                  .user-info-container {
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: normal;
                    word-break: break-all;
                    margin-left: 8px;
                    .user-info-title {
                      color: $black;
                      display: flex;
                      font-size: 14px;
                      justify-content: flex-start;
                      line-height: 21px;
                    }
                    .name-user {
                      display: flex;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      display: -webkit-box;
                      overflow: hidden;
                      white-space: normal;
                      word-break: break-all;
                      .name-user-link {
                        color: $white;
                        cursor: pointer;
                        text-decoration: none;
                        .name-user-span {
                          font-weight: 400;
                        }
                      }
                    }
                  }
                }
              }
              .css-117j5e {
                box-sizing: border-box;
                margin: 0px;
                flex: 1 1 0%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                .css-17kuy89 {
                  box-sizing: border-box;
                  margin: 0px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  display: flex;
                  .css-148glow {
                    box-sizing: border-box;
                    margin: 0px 8px 0px 0px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    .collection-detail-container {
                      color: $black;
                      cursor: pointer;
                      .css-wpyvqd {
                        box-sizing: border-box;
                        margin: 0px;
                        padding-right: 8px;
                        height: 40px;
                        position: relative;
                        background-repeat: no-repeat;
                        background-size: cover;
                        .css-12pdu1u {
                          box-sizing: border-box;
                          .css-ze1kp1 {
                            box-sizing: border-box;
                            margin: 0px;
                            width: 40px;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 50%;
                            object-fit: cover;
                            text-indent: -10000px;
                          }
                        }
                        .css-1fe9f2b {
                          box-sizing: border-box;
                          margin: 0px;
                          position: absolute;
                          right: 0px;
                          bottom: 0px;
                          background-repeat: no-repeat;
                          background-size: cover;
                          display: flex;
                          .verified-icon {
                            color: $darkgreen;
                            border-radius: 50%;
                          }
                        }
                      }
                    }
                    .user-info-container {
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      display: -webkit-box;
                      overflow: hidden;
                      white-space: normal;
                      word-break: break-all;
                      margin-left: 8px;
                      .user-info-title {
                        color: $black;
                        display: flex;
                        font-size: 14px;
                        justify-content: flex-start;
                        line-height: 21px;
                      }
                      .name-user {
                        display: flex;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;
                        white-space: normal;
                        word-break: break-all;
                        .name-user-link {
                          color: $white;
                          cursor: pointer;
                          text-decoration: none;
                          .name-user-span {
                            font-weight: 400;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
